{% extends "account/_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Log Out{% endblock %}

{% block content %}

<div class="h-screen bg-gray-50 flex flex-col justify-center items-center">
    <div class="bg-white border border-gray-300 w-80 py-8 flex items-center flex-col mb-3">
        <h1 class="bg-no-repeat font-medium">Log Out</h1>
        <form class="mt-8 w-64 flex flex-col mb-8" method="post">{% csrf_token %}
            Do you really want to logout?
            {{form|crispy}}
            <button type="submit" class="mt-4 btn text-sm text-center bg-blue-300 text-white py-1 rounded font-medium">
                Logout
            </button>
        </form>
    </div>
</div>

{% endblock %}