{% extends "_base.html" %}
{% load custom_tags %}
{% block content %}


{% if user.is_authenticated %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading-section mb-5 pb-md-4">Based on your mood</h2>
            </div>
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel">
                    {% for movie in mood_movies%}
                    <div class="item">
                        <div class="blog-entry">
                            <a href="#" class="block-20 d-flex align-items-start"
                                style="background-image: url('{{ movie.poster }}');">
                            </a>

                            <div class="text border border-top-0 p-4">
                                <h5 class="card-title text-center font-weight-normal">
                                    <a class="text-decoration-none">{{ movie.title|movie_title }}</a>
                                </h5>
                                <h5 class="card-text text-center small">
                                    <a class="text-decoration-none ">{{ movie.year }}</a>
                                </h5>
                                <div class="d-flex align-items-center mt-4">
                                    <a class="mb-0">
                                        <i class="bi bi-star-fill" style="color: #F5C518;"></i>
                                        <span class="text-muted ">{{ movie.imdbRating }}</span>
                                    </a>
                                    <span class="ml-auto meta2 mb-0 mr-2 meta-chat score  text-muted">
                                        <span class="score-meta px-1 mx-1 "
                                            style="background-color:#54A72A; color:white">
                                            {{ movie.metascore|no_metascore }}
                                        </span>metascore
                                    </span>
                                </div>
                            </div>
                            <a href="{% url 'detail' movie.movieId %}" class="stretched-link"></a>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading-section mb-5 pb-md-4">Recommended for you</h2>
            </div>
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel">
                    {% for movie in movies%}
                    <div class="item">
                        <div class="blog-entry">
                            <a href="#" class="block-20 d-flex align-items-start"
                                style="background-image: url('{{ movie.poster }}');">
                            </a>

                            <div class="text border border-top-0 p-4">
                                <h5 class="card-title text-center font-weight-normal">
                                    <a class="text-decoration-none">{{ movie.title|movie_title }}</a>
                                </h5>
                                <h5 class="card-text text-center small">
                                    <a class="text-decoration-none ">{{ movie.year }}</a>
                                </h5>
                                <div class="d-flex align-items-center mt-4">
                                    <a class="mb-0">
                                        <i class="bi bi-star-fill" style="color: #F5C518;"></i>
                                        <span class="text-muted ">{{ movie.imdbRating }}</span>
                                    </a>
                                    <span class="ml-auto meta2 mb-0 mr-2 meta-chat score  text-muted">
                                        <span class="score-meta px-1 mx-1 "
                                            style="background-color:#54A72A; color:white">
                                            {{ movie.metascore|no_metascore }}
                                        </span>metascore
                                    </span>
                                </div>
                            </div>
                            <a href="{% url 'detail' movie.movieId %}" class="stretched-link"></a>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}



<script>
    const icons = document.querySelectorAll('.icon');

    icons.forEach(icon => {
        icon.addEventListener('mouseenter', () => {
            icon.classList.add('hover');
        });

        icon.addEventListener('mouseleave', () => {
            icon.classList.remove('hover');
        });

        icon.addEventListener('click', () => {
            icon.classList.toggle('active');
        });
    });


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"></script>



{% endblock content %}