{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
    @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
    @import url(https://fonts.googleapis.com/css?family=Montez);


    .profile {
        top: 100px;
        bottom: auto;
        left: 0;
        right: 0;
        min-height: 100%;
        height: auto;
        width: 75%;
        margin: 20px auto;
        margin-bottom: 100px;
        background-color: #fff;
        border-top: 5px solid #2e83d3;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 2.5px 5px #ccc;
    }

    .profile-image {
        float: left;
        width: calc(33.333% - 1rem);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3rem;
    }

    .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .details {
        width: 97.5%;
        margin: 2.5px auto;
    }

    .tab-heads {
        color: #777;
        margin: 0 2.5px;
    }

    .tabs {
        height: 200px;
        width: 97.5%;
        margin: 0 auto;
        background-color: #f2ecee;
        border-radius: 2.5px;
    }

    span.fa-envelope {
        position: absolute;
        top: 22%;
        left: 56%;
        color: #2e83d3;
    }

    span.photo {
        position: relative;
        height: 80px;
        width: 80px;
        border-radius: 5px;
        margin: 10px 0 2.5px;
        display: block;
        top: 10%;
        left: 10%;
        overflow: hidden;
        background-size: 100%;
        border-radius: 100%;
        border: 2px solid #ddd;
    }


    input[type="file"] {
        color: #555;
        font-size: 15px;
        top: 25%;
        box-shadow: none !important;
        margin-left: none !important;
        background-color: #ededed;
        width: 200px;
        border: 0;
    }

    span.name,
    span.links>h3,
    h4 {
        font-family: Lato;
    }

    span.name {
        position: absolute;
        top: 20%;
        left: 25%;
        color: #555;
        font-size: 18px;
    }

    label {
        color: #555;
        line-height: 2.1em;
        margin-left: 10px;
    }

    label[for="avatar"] {
        line-height: 120px;
    }


    span h3,
    h4 {
        display: inline-block;
        margin: 0;
    }

    div.circles {
        width: 100%;
        margin: 0 auto;
    }

    span.fa-users {
        color: #777;
        margin-left: 1px;
        margin: 7px 7px 2.5px;
    }

    span.fa-users:after {
        content: "Circles";
        font-family: Lato;
        margin-left: 3px;
        color: #777;
    }

    .myCircle {
        height: 200px;
        width: 97.5%;
        margin: 0 auto;
        background-color: #f2ecee;
        border-radius: 2.5px;
    }

    /*Circles Styles
=========================*/
    .myCircle #tabs ul li:nth-child(1) {
        margin: 0;
        padding: 0px 5px 10px;
        background-color: white;
        border-radius: 0 0 0 30px;
    }

    .myCircle #tabs ul li:nth-child(2) {
        margin-left: -3px;
        padding: 0 5px 10px;
        border-radius: 0 0 30px 0;
        background-color: white;
    }

    .myCircle #tabs .active {
        border-bottom: none;
        padding-left: 10px;
    }

    .myCircle #tabs {
        padding: 0;
        margin: 0;
    }

    .fa-twitter,
    .fa-facebook,
    .fa-github {
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 20px;
        padding: 2.5px;
        margin-left: -15px;
    }

    /*Input Fields Styles
=========================*/
    fieldset textarea,
    input {
        font-family: Open Sans;
        font-size: 15px;
        color: #333;
        background-color: #f7f7f7;
        box-shadow: 0 0 0 1px #397dcb;
        padding: 5px;
        width: 75%;
        margin: 5px auto;
        border: 0;
        border-radius: 2.5px;
        outline: 0;
        transition: 0.3s ease;
    }

    fieldset textarea {
        min-height: 40px;
        max-height: 60px;
    }

    fieldset textarea:hover,
    input:hover {
        box-shadow: 0 0 0 1px #397dcb;
        background-color: #fff;
    }

    fieldset textarea:focus,
    input:focus {
        box-shadow: 0 0 0 1px #397dcb,
            inset 0 2px 5px -1px rgba(0, 0, 0, 0.25);
    }

    .grid-35 {
        width: 35%;
        float: left;
        font-weight: 500;
        color: #333;
        /* text-align: left; */
    }

    .grid-65 {
        position: relative;
        width: 65%;
        float: right;
        font-family: Source Sans Pro;
        font-weight: 300;
        font-size: 17px;
    }

    #tabs-1 div,
    #tabs-2 div,
    #tabs-3 div {
        border-bottom: 1px solid #ddd;
    }

    /*Tabs Styles
=========================*/
    #tabs {
        width: 97.5%;
        margin: 0 auto;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #tabs-1,
    #tabs-2,
    #tabs-3 {
        width: 95%;
        margin: 0 auto;
        padding: 5px 10px;
        line-height: 1.3em;
        padding-bottom: 10px;
        font-family: Open Sans;
        background-color: #f2ecee;
        border-radius: 0 2.5px 2.5px 2.5px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #tabs ul {
        margin: 0 auto;
        padding: 0;
    }

    #tabs ul li {
        display: inline-block;
        margin: 0;
        padding: 0 7px;
        width: 65px;
        text-align: center;
        padding-bottom: 5px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #tabs ul li a {
        outline: 0;
        text-decoration: none;
        padding: 0 3px 0 0;
        font-family: Open Sans;
        margin: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .ui-state-hover {
        border-bottom: 2.5px solid #aaa;
    }

    .ui-state-active {
        color: #397dcb;
        border-bottom: 2.5px solid #397dcb;
    }

    /* #CLEARFIX HACK
=========================*/
    .clear:after {
        content: " ";
        display: table;
        clear: both;
    }

    /* Edit View
======================*/
    .content h1 {
        text-align: center;
        color: #555;
        font-family: Lato;
        font-size: 40px;
        font-weight: 200;
        margin: 5px auto 15px auto;
    }

    select {
        width: 80%;
        padding: 7px 10px;
        background-color: #f5f5f5;
        border: 1px solid #397dcb;
        border-radius: 2.5px;
        outline: 0;
    }

    select option {
        padding: 5px;
    }

    fieldset {
        text-align: center;
        margin-bottom: 5px;
        padding: 5px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }

    fieldset:last-child {
        border-bottom: none;
    }

    input.Btn {
        width: 48%;
        float: left;
        display: block;
        margin: 40px auto;
        margin-left: 1%;
        padding: 15px 0;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        background-color: 397dcb;
        box-shadow: inset 0 0 0 2px #397dcb,
            0 2px 0 0 rgba(57, 203, 88, 0.5);
        transition: 0.5s ease;
    }

    input.Btn:hover {
        background-color: 397dcb;
    }

    .button-container {
        display: flex;
        /* justify-content: space-between; */

    }

    .button-container input[type="button"],
    .button-container input[type="submit"] {
        flex-basis: 48%;

    }


    /*Media Queries
=========================*/
    @media only screen and (min-width: 768px) {

        /*Desktop*/
        .profile {
            width: 450px;
        }
    }

    @media only screen and (max-width: 768px) {

        /*Tablet*/
        .profile {
            width: 70%;
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 520px) {

        /*Phone*/
        .profile {
            width: 90%;
        }
    }
</style>
<div class="wrapper">
    <div class="profile">
        <div class="content">
            <h1>Edit Rating</h1>

            <!-- Photo -->



        </div>
        <form method="post">{% csrf_token %}
            <fieldset>
                <div class="grid-65 mr-4">
                    <span class="mr-5">
                        <img class="mr-5 " src="{{ moviesrating.movie.poster }}" style="height:50%; width:50%" alt="">
                    </span>
                </div>
            </fieldset>
            <fieldset>
                <div class="grid-35">
                    <label for="movie">Movie</label>
                </div>
                <div class="grid-65">
                    <input name="movie" type="text" id="movie" value="{{moviesrating.movie}}" tabindex="1" readonly />
                </div>
            </fieldset>

            <!-- Rating -->
            <fieldset>
                <div class="grid-35">
                    <label for="ating">Rating</label>
                </div>
                <div class="grid-65">
                    <input type="number" id="rating" name="rating" value="{{moviesrating.rating}}" tabindex="5" />
                </div>
            </fieldset>

            <div class="button-container d-flex ">
                <button type="button" class="btn btn-danger cancel mb-2 ml-4 mr-4" onclick="goBack()">Cancel</button>
                <button type="submit" class="btn btn-info mb-2 ml-5 justify-content-center">Save Changes</button>
            </div>
        </form>

    </div>
</div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>



{% endblock content %}